TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.MemberPay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.MemberPay" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.MemberPay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceAddMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddMemberPay" nillable="true" type="tns:ToServerServiceAddMemberPay" />
  <xs:complexType name="ToClientServiceAddMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberPay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddMemberPay" nillable="true" type="tns:ToClientServiceAddMemberPay" />
  <xs:complexType name="ToServerServiceDelMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelMemberPay" nillable="true" type="tns:ToServerServiceDelMemberPay" />
  <xs:complexType name="ToClientServiceDelMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelMemberPay" nillable="true" type="tns:ToClientServiceDelMemberPay" />
  <xs:complexType name="ToServerServiceGetMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddAdminId" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeEnd" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeStart" type="xs:long" />
          <xs:element minOccurs="0" name="BalanceType" type="xs:long" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetMemberPay" nillable="true" type="tns:ToServerServiceGetMemberPay" />
  <xs:complexType name="ToClientServiceGetMemberPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="MemberPays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderPays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="TakeoutPays" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetMemberPay" nillable="true" type="tns:ToClientServiceGetMemberPay" />
</xs:schema>