TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.SupplierPay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.SupplierPay" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.SupplierPay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceAddSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddSupplierPay" nillable="true" type="tns:ToServerServiceAddSupplierPay" />
  <xs:complexType name="ToClientServiceAddSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddSupplierPay" nillable="true" type="tns:ToClientServiceAddSupplierPay" />
  <xs:complexType name="ToServerServiceDelSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelSupplierPay" nillable="true" type="tns:ToServerServiceDelSupplierPay" />
  <xs:complexType name="ToClientServiceDelSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelSupplierPay" nillable="true" type="tns:ToClientServiceDelSupplierPay" />
  <xs:complexType name="ToServerServiceGetSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddAdminId" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeEnd" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeStart" type="xs:long" />
          <xs:element minOccurs="0" name="BalanceType" type="xs:long" />
          <xs:element minOccurs="0" name="SupplierId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetSupplierPay" nillable="true" type="tns:ToServerServiceGetSupplierPay" />
  <xs:complexType name="ToClientServiceGetSupplierPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImportPays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="SupplierPays" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetSupplierPay" nillable="true" type="tns:ToClientServiceGetSupplierPay" />
</xs:schema>