TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.Supplier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Supplier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Supplier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceAddSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddSupplier" nillable="true" type="tns:ToServerServiceAddSupplier" />
  <xs:complexType name="ToClientServiceAddSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsCardExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSupplierExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddSupplier" nillable="true" type="tns:ToClientServiceAddSupplier" />
  <xs:complexType name="ToServerServiceEditSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceEditSupplier" nillable="true" type="tns:ToServerServiceEditSupplier" />
  <xs:complexType name="ToClientServiceEditSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsCardExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSupplierExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceEditSupplier" nillable="true" type="tns:ToClientServiceEditSupplier" />
  <xs:complexType name="ToServerServiceDelSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelSupplier" nillable="true" type="tns:ToServerServiceDelSupplier" />
  <xs:complexType name="ToClientServiceDelSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelSupplier" nillable="true" type="tns:ToClientServiceDelSupplier" />
  <xs:complexType name="ToServerServiceGetSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q7:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SingleSupplierNo" type="xs:boolean" />
          <xs:element minOccurs="0" name="SupplierId" type="xs:long" />
          <xs:element minOccurs="0" name="SupplierNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetSupplier" nillable="true" type="tns:ToServerServiceGetSupplier" />
  <xs:complexType name="ToClientServiceGetSupplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q8:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
          <xs:element minOccurs="0" name="Suppliers" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetSupplier" nillable="true" type="tns:ToClientServiceGetSupplier" />
</xs:schema>