TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.AdminPay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.AdminPay" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.AdminPay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceAddAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddAdminPay" nillable="true" type="tns:ToServerServiceAddAdminPay" />
  <xs:complexType name="ToClientServiceAddAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminPay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddAdminPay" nillable="true" type="tns:ToClientServiceAddAdminPay" />
  <xs:complexType name="ToServerServiceDelAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminPay" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelAdminPay" nillable="true" type="tns:ToServerServiceDelAdminPay" />
  <xs:complexType name="ToClientServiceDelAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelAdminPay" nillable="true" type="tns:ToClientServiceDelAdminPay" />
  <xs:complexType name="ToServerServiceGetAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddAdminId" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeEnd" type="xs:long" />
          <xs:element minOccurs="0" name="AddTimeStart" type="xs:long" />
          <xs:element minOccurs="0" name="AdminId" type="xs:long" />
          <xs:element minOccurs="0" name="BalanceType" type="xs:long" />
          <xs:element minOccurs="0" name="NotAdminId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetAdminPay" nillable="true" type="tns:ToServerServiceGetAdminPay" />
  <xs:complexType name="ToClientServiceGetAdminPay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdminPays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetAdminPay" nillable="true" type="tns:ToClientServiceGetAdminPay" />
</xs:schema>