TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.Balance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Balance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Balance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceAddBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddBalance" nillable="true" type="tns:ToServerServiceAddBalance" />
  <xs:complexType name="ToClientServiceAddBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBalanceExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddBalance" nillable="true" type="tns:ToClientServiceAddBalance" />
  <xs:complexType name="ToServerServiceEditBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceEditBalance" nillable="true" type="tns:ToServerServiceEditBalance" />
  <xs:complexType name="ToClientServiceEditBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBalanceExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceEditBalance" nillable="true" type="tns:ToClientServiceEditBalance" />
  <xs:complexType name="ToServerServiceDelBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelBalance" nillable="true" type="tns:ToServerServiceDelBalance" />
  <xs:complexType name="ToClientServiceDelBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelBalance" nillable="true" type="tns:ToClientServiceDelBalance" />
  <xs:complexType name="ToServerServiceGetBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q7:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="BalanceId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetBalance" nillable="true" type="tns:ToServerServiceGetBalance" />
  <xs:complexType name="ToClientServiceGetBalance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q8:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Balances" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetBalance" nillable="true" type="tns:ToClientServiceGetBalance" />
</xs:schema>