TradingSystem/OybabRes/Service References/Service/Oybab.ServerManager.Model.Service.Product.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Product" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service.Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" />
  <xs:complexType name="ToServerServiceGetAllProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q1:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceGetAllProduct" nillable="true" type="tns:ToServerServiceGetAllProduct" />
  <xs:complexType name="ToClientServiceGetAllProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q2:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductTypes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceGetAllProduct" nillable="true" type="tns:ToClientServiceGetAllProduct" />
  <xs:complexType name="ToServerServiceAddProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q3:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pprs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceAddProduct" nillable="true" type="tns:ToServerServiceAddProduct" />
  <xs:complexType name="ToClientServiceAddProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q4:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pprs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceAddProduct" nillable="true" type="tns:ToClientServiceAddProduct" />
  <xs:complexType name="ToServerServiceEditProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q5:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pprs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceEditProduct" nillable="true" type="tns:ToServerServiceEditProduct" />
  <xs:complexType name="ToClientServiceEditProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q6:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pprs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceEditProduct" nillable="true" type="tns:ToClientServiceEditProduct" />
  <xs:complexType name="ToServerServiceDelProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q7:ToServerService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Pprs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToServerServiceDelProduct" nillable="true" type="tns:ToServerServiceDelProduct" />
  <xs:complexType name="ToClientServiceDelProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Oybab.ServerManager.Model.Service" base="q8:ToClientService">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToClientServiceDelProduct" nillable="true" type="tns:ToClientServiceDelProduct" />
  <xs:complexType name="ToClientServiceProductCountUpdateNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductAndCounts" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToClientServiceProductCountUpdateNotification" nillable="true" type="tns:ToClientServiceProductCountUpdateNotification" />
</xs:schema>